p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;

}

.profile{
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    vertical-align: top;
    margin-right: 15px;
}

.profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.name{
    font-family: arial;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

.mutual-friends-row{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    margin-bottom: 0;

}

.mutual-friends-pic{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 14px;
    margin-left: 10px;
}

.mutual-friends{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 15px;
}

.add-friend-button{
    background-color: blue;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}