.container {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  width: 300px;
  border-radius: 6px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}