.container{
    width: auto;
    height: 50px;
    background-color: violet;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-section{
    font-family: arial;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.search-bar{
    border: none;
    width: 500px;
    height: 25px;
    border-radius: 12.5px;
    padding-left: 20px;
}

.download-button{
    height: 25px;
    background-color: violet;
    border: white;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: arial;

}