.row{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.item1{
    background-color: lightcoral;
    width: 100px;
}

.item2{
    background-color: lightblue;
    width: 200px;

}

.flex-row2,.flex-row3{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}


.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

