.container{
    border: none;
    border-radius: 5px;
    box-shadow:0 4px 6px rgba(0,0,0,0.25);
    width: 450px;
    padding-left: 10px;
    padding-top: 10px;
}

.heading{
    font-family: roboto,arial;
    font-size: small;
    font-weight: 400;
    color: gray;
    display: block;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-pic{
    display: flex;
    align-items: center;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.email{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
}

.sub{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
    margin-top: 2px;
}

.time{
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    color: gray;
    margin-right: 10px;
    font-family: roboto,arial;
    font-size: small;
    
}