.search-bar{
    flex: 1;
    padding-left: 10px;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    
}

.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 15px;
}

.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.left-section{
  width: 150px;
  display: flex;
  align-items: center;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;

}

.youtube-logo{
  height: 20px;
}

.search-button{
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  margin-left: -2px;
  margin-right: 10px;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
  background-color: rgb(240,240,240);
  
}

.voice-search-button{
  height:40px ;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245,245,245);
}

.voice-search-icon{
  height: 24px;
  margin-top: 4px;
  
}

.upload-icon{
  height: 24px;

}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  position: absolute;
  top: 0;
  right: 0px;
  background-color: red;
  color: white;
  
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}