
        .thumbnail{
            width: 300px;
            display: block;
        }




        .video-author{
          display: inline-block;
          margin-top: 12px;
          margin-bottom: 0;
          font-size: 12px;
          color: rgb(96,96,96);

        }
        .video-stats{
          display: inline-block;
          margin-top: 5px;
          font-size: 12px;
          color: rgb(96,96,96);

        }

        .video-preview{
          width: 300px;
          display: inline-block;
          vertical-align: top;
          margin-right: 15px;
        }

        .channel-pic{
          width: 50px;
          vertical-align: top;
        }

        .video-info{
          width: 200px;
        }

        .profile-pic{
          width: 40px;
          border-radius: 50px;
        }

        .video-title{
          margin-top: 0;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }

        .thumbnail-row{
          margin-bottom: 12px;
        }

        .video-info-grid{
          display: grid;
          grid-template-columns: 50px 1fr;
        }
        .video-grid{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

        }
